env/
**__pycache__**
railway-token.txt
.env
.env.dev

# ignore uv related
.venv
.python-version
pyproject.toml
uv.lock

# Vscode
.vscode
.ruff_cache
storage/**
!storage/.gitkeep

# Generated location seed data
seeders/data/location/*.json
seeders/data/location/*.json.gz
!seeders/data/location/.gitkeep


.idea/